body {
margin: 0;
padding: 0;
font-size: 17px;
font-family: 'Jost', sans-serif;
COLOR: #000000;
FONT-WEIGHT: normal;
}

#top1 {
    float: left;
    width: 16%;
    height: 180px;
    text-align: right;
    margin-top: 1%;
    } 

#top2, #top3 {
float: left;
width: 20%;
height: 180px;
text-align: right;
margin-top: 1%;
}

#vvv {
float: left;
width: 8%;
height: 170px;
text-align: left;
margin-top: 1.5%; 
margin-left: 10px;
} 

#top4 {
    float: right;
    width: 23%;
    height: 180px;
    text-align: right;
    margin-top: 1%;
    }

#menu {
    float: right;
    background-color: #FF4D4D;
    width: 100%;
    height: 70px;
    color: white;
    font-weight:600;
} 

#m1{
    float: left;
        width: 20%;
        text-align: left;
        margin-left: 11%;
        line-height: 2 
}

#m2{
    float: left;
        width: 22%;
        text-align: left;
        margin-top: 1%;
}

#m3{
    float: left;
        width: 20%;
        text-align: left;
        margin-top: 1%;
}

#m4{
    float: left;
    width: 22%;
    text-align: left;
    margin-top: 1%;
}


#branch {
    float: right;
    width: 100%;
    height: 190px;
    }
   
    #br1 {
        float: left;
        width: 30%;
        height: 190px;
        text-align: left;
        margin-top: 1%;
        margin-left: 11%;
        line-height: 2;
    }

    #br2 {
        float: left;
        width: 30%;
        height: 190px;
        text-align: left;
        margin-top: 1%;
        line-height: 2;
    }

    #br3 {
        float: left;
        width: 20%;
        height: 190px;
        text-align: left;
        margin-top: 1%;
        line-height: 2;
    }

#text1 {
    color: #ffffff;
    width: 40%;
    height: 90px;
    display: flex;
    font-weight:600;
    margin-left: 16%;
    margin-top: 40%;
    margin-bottom: 1%;
}


#tt1 {
    float: left;
    margin-left: 1%;
    margin-top: 1%;
    height: 10%;
    width: 97%;
    text-align: justify;
    font-size: 21px;
}

#tt2 {
    float: left;
    margin-top: 1%;
    margin-left: 1%;
    text-align: center;
    font-size: 21px;
}

#tt3 {
    margin-left: 3%;  
}

#bl1 {
    float: left;
    background-color: #D9D9D9;
    width: 1200px;
    border-radius: 50px;
    height: 1000px;
    margin-left: 16%;

    
}

#foot1 {
    float: right;
    background-color:#D9D9D9;
    margin-top: 5%;
    width: 100%;
    width:200 ;
    height: 180px;
}


#f1 {
float: left;
width: 8%;
text-align: left;
margin-top: 1.5%;
margin-left: 30%;
}

#f2 {
float: left;
width: 20%;
text-align: left;
margin-top: 1.5%;
margin-left: 24%;
}

#foot2 {
    float: right;
    background-color:#ffffff;
    width: 100%;
    height: 45px;
    margin-top: 1%;
    text-align: center
}



* {
    margin: 0px;
    padding: 0px;
}

div {
    display: block;
    unicode-bidi: isolate;
}
